
<!DOCTYPE html>
<html lang="en" ng-app="sc">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Student Chain</title>
	<style>
		.info{
			margin-top:10px;
		}
		.click:hover{
			cursor:point;
			background-color:grey;		
		}
    .sn:hover{
      color: blue;
      cursor:pointer;
      background-color: lightgrey;
      padding:10px; 
    }
    .sn{
      padding:10px; 
    }
	</style>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.4/angular-route.js"></script>
	<script src="./app.js"></script>
	
	


  </head>

  <body ng-controller="indexCtrl">
	
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Students Information</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-if="enrolled" style="display:inline">
          <ul class="nav navbar-nav">
            <li><a href="#createArtifacts">Create Artifacts</a></li>
            <li><a href="#register">Register student Details</a></li>
	    <li><a href="#getDetails">Search Students</a></li>
	    
          </ul>
	<ul  class="nav navbar-nav" style="float:right;">
		<li><a>{{userName}}</a></li>
	</ul>
        </div>
	
      </div>
    </nav>

  <div class="col-lg-3"></div><div class="container col-lg-12">
<div class="col-sm-3"></div><div class="col-sm-6">
      <form class="form-signin " ng-if="!enrolled">
        <h2 class="form-signin-heading">Please enroll user</h2>
        <label for="inputEmail" class="sr-only">UserName</label>
          <input type="text" id="inputEmail" class="form-control info" placeholder="jim" ng-model="formData.username" required autofocus>
        <label for="inputEmail" class="sr-only">Organisation</label>
          <input type="text" id="inputEmail" class="form-control info" placeholder="org1 OR org2" ng-model="formData.orgName" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control info" placeholder="password" ng-model="formData.password" required>
        <div class="checkbox">
        </div>
        <button class="btn btn-lg btn-primary btn-block info" ng-click="enroll()" type="submit">Enroll now</button><br>
      </form>
</div><div class="col-sm-3"></div>
	<div style="margin-top:100px" class="col-sm-12" ng-view ></div>
		 
</div>
  </body>
</html>